.caja{
    background:rgba(17, 0, 255, 0.205) ;
    margin-top: 50px;
    display: grid;
    grid-template-columns:repeat(3, 2fr); 
    grid-gap: 10px;
    color: #fff;
}
.uno{
    grid-column:1/3;
    grid-row: 8/2;
    background: rgb(17, 0, 255);
}
.dos{
    background: rgb(255, 0, 242);
    grid-column: 1/3;
    grid-row: 7/2;
}
.tres{
    background: rgb(41, 33, 155);
    grid-column: 1;
    grid-row: 2 /5;
}
.cuatro{
    background: rgb(104, 105, 13);
    grid-column: 3;
    grid-row: 3;
}
.cinco{
    background: rgb(33, 109, 65);
    grid-column: 2;
    grid-row: 2 / 5;
}
.seis{
    background: rgb(15, 105, 57);
    grid-column: 3;
    grid-row: 4;
}
.siete{
    background: rgb(122, 15, 42);
    grid-column: 1/4;
    grid-row: 5;
}